.a1 p
{
    background-color: aqua;
    border: 6px solid black;
}
.a2 p
{
    background-color: aqua;
    border: 4px solid black;
}
.a3 p
{
    background-color: aqua;
    border: 2px solid black;
}
.a4 p
{
    background-color: aqua;
    color: aqua;
}